* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: "Red Rose", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    width: 520px;
    height: auto;
    border: 1px;
    color: #091133;
}

.text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justified;
}

.button {
    width: 190px;
    height: 36px;
    top: 454px;
    left: 221px;
    gap: 0px;
    opacity: 0px;
}

.button-purchase {
    background: #111B47;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.button-learn {
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border: 2px solid #111B47;
    color: #111B47;
}

.cards {
    width: 255px;
    height: 138px;
    top: 444px;
    left: 450px;
    justify-content: space-between;
}

.image {
    width: 492px;
    height: 1031px;
    top: 100px;
    left: 783px;
    padding: 0.16px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 10px;
}

.cards-container{
    display: flex;
    align-items: center;
}

.block {
    width: 520px;
    height: 330px;
    top: 160px;
    left: 165px;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .block {
        max-width: 100%;
    }

    .image {
        margin-top: 20px;
    }
}